.footer-background {
  background-color: #343a3e;
  padding-top: 18px;
  padding-bottom: 28px;
}
.footer-container {
  max-width: 1662px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
.footer__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 14px;
  text-align: end;
}
.footer__list-menu {
  @include list-style-none;
  display: flex;
  flex-direction: column;
  margin-right: auto;
}
.footer__item--link {
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
}
.footer__item {
  margin-bottom: 36px;
}
.block-order__text {
  font-size: 18px;
  line-height: 28px;
  max-width: 332px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.block-order {
  background-color: #d9d9d9;
  padding: 14px 27px 24px;
  padding-bottom: 0;
  max-width: max-content;
  text-align: center;
  height: 293px;
  margin-right: 80px;
}
.input-order {
  display: flex;
  flex-direction: column;
}
.block-order__input-tel {
  max-width: 387px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: none;
  margin-top: 22px;
  margin-bottom: 19px;
}
.block-order__input-name {
  max-width: 387px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  border: none;
  margin-bottom: 31px;
}
.block-order__link{
    font-size: 18px;
line-height: 25px;
color: #FFFFFF;
padding: 10px 55px;
background-color: #2FA1CE;
}
.footer{
    display: flex;
    margin-bottom: 38px;
}
.footer__text{
    font-size: 28px;
line-height: 31px;
text-align: end;
color: #FFFFFF;
margin-bottom: 0;
margin-top: 33px;
}