.header{
   padding: 44px 56px;
   display: flex;
   align-items: center;
}
.menu{
    @include list-style-none;
    display: flex;
    justify-content: space-between;
    margin-right: auto;
}
.header__logo{
    margin-right: 66px;
}
.menu__item--link{
font-weight: 700;
font-size: 32px;
line-height: 44px;
color: #000000;
margin-right: 90px;
}
.header__lang{
    border: none;
    padding: 0;
    background-color: #fff;
}
