.main-advantages__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 40px;
  text-align: center;
}
.main-advantages__list {
  @include list-style-none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: max-content max-content;
  column-gap: 69px;
  row-gap: 25px;
  padding-left: 77px;
  padding-right: 77px;
  margin-bottom: 133px;
}
.main-advantages__item {
  display: flex;
  align-items: center;
}
.main-advantages__item-text {
  text-align: center;
  margin-left: 20px;
}
.block-text__special {
  margin-left: 0;
}
.img-quality {
  margin-left: 40px;
}
.main-advantages__item--text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.main-advantages__item--subtext {
  font-size: 18px;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
}
.contacts-messenge {
  display: flex;
  align-items: center;
  margin-left: 119px;
}
.contacts__text {
  font-size: 28px;
  line-height: 31px;
}
.contacts__facebook {
  margin-left: 25px;
  margin-right: 25px;
}
.text-tel1 {
  font-size: 24px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 30px;
  color: #000000;
}
.text-tel2 {
  font-size: 24px;
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 0;
  color: #000000;
}
.contacts-tel{
    display: flex;
    margin-left: auto;
    margin-right: 70px;
}
.contacts{
    display: flex;
    align-items: center;
}