.main-intro__list {
  @include list-style-none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-intro__item1 {
  text-align: right;
  margin-right: 95px;
  padding-bottom: 90px;
}
.main-intro__title1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
  margin-top: 76px;
  margin-bottom: 47px;
}
.main-intro__text {
  display: inline-block;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}
.text1 {
  margin-top: 0;
  margin-bottom: 27px;
  max-width: 692px;
}
.text2 {
  margin-top: 0;
  margin-bottom: 55px;
  max-width: 711px;
}
.text3 {
  margin-top: 0;
  margin-bottom: 235px;
  max-width: 681px;
}
.main-intro__link1 {
  font-size: 32px;
  line-height: 58px;
  color: #ffffff;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 131px;
  padding-right: 116px;
  background-color: #2fa1ce;
}
.main-intro__item2 {
  background-color: #282828;
  padding-left: 101px;
  padding-bottom: 90px;
}
.main-intro__title2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  margin-top: 76px;
  margin-bottom: 0;
}
.text4 {
  color: #ffffff;
  max-width: 794px;
  margin-top: 47px;
  margin-bottom: 26px;
}
.text5 {
  color: #ffffff;
  max-width: 748px;
  margin-top: 0;
  margin-bottom: 26px;
}
.text6 {
  color: #ffffff;
  max-width: 757px;
  margin-top: 0;
  margin-bottom: 26px;
}
.text7 {
  color: #ffffff;
  max-width: 767px;
  margin-top: 0;
  margin-bottom: 150px;
}
.main-intro__link2 {
  font-size: 32px;
  line-height: 58px;
  color: #ffffff;
  padding: 4px 28px;
  background-color: #2fa1ce;
}
