.background {
  position: relative;
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 69px;
  padding-bottom: 47px;
  
}
.background-img1{
  position: absolute;
  top: 139px;
  right: 0;
}
.background-img2{
  position: absolute;
  top: 145px;
  right: 20px;
}
.background-img3{
  position: absolute;
  top: -70px;
  right: 50px;
}
.background-img4{
  position: absolute;
  top: 296px;
  right: 340px;
}
.main-block__text{
    padding-left: 56px;
    margin-bottom: 446px;
}
.main-block__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 88px;
  color: #ffffff;
  margin: 0;
}
.main-block__subtitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 66px;
  color: #ffffff;
  margin-bottom: 51px;
  max-width: 613px;
}
.main-block__link {
  font-size: 36px;
  line-height: 50px;
  color: #ffffff;
  padding: 13px 24px;
  background-color: #2fa1ce;
  margin-bottom: 446px;
}
.link__text {
  font-size: 26px;
  line-height: 47px;
  color: #ffffff;
margin: 0;
}
.main-block__list{
    @include list-style-none;
    padding-left: 0;
    display: flex;
    justify-content: space-around;
}
.main-block__item--link{
    display: flex;
    flex-direction: column;
    align-items: center;
}