.main-stages__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 55px;
  color: #000000;
  margin-top: 56px;
  margin-bottom: 28px;
  text-align: center;
}
.main-stages__list {
  @include list-style-none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-bottom: 48px;
}
.main-stages__item--text {
  font-weight: 700;
  font-size: 28px;
  line-height: 39px;
  color: #282828;
  margin-top: 36px;
  margin-bottom: 42px;
}
.main-stages__item--subtext{
    font-size: 28px;
  line-height: 39px;
  color: #282828;
  margin-top: 0;
  margin-bottom: 0;
}
.main-stages__item{
    text-align: center;
    padding: 15px 65px 63px 35px;
}
.main-stages__item--img{
    display: inline-block;
}
.main-stages__item:nth-child(even){
    background-color: #282828;
    color: #FFFFFF;
}
.even-text{
    color: #FFFFFF; 
}
.even-subtext{
    color: #FFFFFF; 
}