.menu__item--link {
  @media (max-width: 1800px) {
    margin-right: 60px;
  }
  @media (max-width: 1653px) {
    margin-right: 40px;
    font-size: 28px;
  }
  @media (max-width: 1430px) {
    margin-right: 25px;
    font-size: 22px;
  }
}
.menu {
  @media (max-width: 1190px) {
    display: none;
  }
}
.main-block__title {
  @media (max-width: 900px) {
    font-size: 44px;
    line-height: 68px;
  }
  @media (max-width: 560px) {
    font-size: 28px;
    line-height: 38px;
  }
}
.main-block__subtitle {
  @media (max-width: 900px) {
    font-size: 38px;
    line-height: 46px;
  }
  @media (max-width: 560px) {
    font-size: 22px;
    line-height: 28px;
    max-width: 413px;
  }
}
.main-block__link {
  @media (max-width: 900px) {
    font-size: 26px;
    line-height: 36px;
    padding: 8px 16px;
    background-color: #2fa1ce;
    margin-bottom: 346px;
  }
  @media (max-width: 560px) {
    font-size: 20px;
    line-height: 26px;
    padding: 6px 13px;
    background-color: #2fa1ce;
    margin-bottom: 300px;
  }
}
.main-block__list {
  @media (max-width: 1165px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
  }
  @media (max-width: 840px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 15px;
  }
  @media (max-width: 580px) {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
  }
}
.background-img1 {
  @media (max-width: 1370px) {
   display: none;
  }
}
.background-img2 {
  @media (max-width: 1370px) {
   display: none;
  }
}
.background-img3 {
  @media (max-width: 1890px) {
   display: none;
  }
}
.background-img4 {
  @media (max-width: 1890px) {
   display: none;
  }
}
.main-intro__list {
  @media (max-width: 980px) {
    display: grid;
    grid-template-columns: 1fr;
   }
 
}
.main-intro__text {
  @media (max-width: 1890px) {
    font-size: 22px;
    line-height: 34px;
   }
   @media (max-width: 485px) {
    font-size: 18px;
    line-height: 26px;
   }
}
.main-intro__title1{
  @media (max-width: 1890px) {
    font-size: 28px;
  line-height: 36px;
   }
   @media (max-width: 485px) {
    font-size: 24px;
    line-height: 30px;
   }
}
.main-intro__title2{
  @media (max-width: 1890px) {
    font-size: 28px;
  line-height: 36px;
   }
   @media (max-width: 485px) {
    font-size: 24px;
    line-height: 30px;
   }
}
.text1 {
  @media (max-width: 1890px) {
    max-width: 492px;
   }
}
.text2 {
  @media (max-width: 1890px) {
    max-width: 492px;
   }
}
.text3 {
  @media (max-width: 1890px) {
    max-width: 492px;
    margin-bottom: 248px;

   }
   @media (max-width: 980px) {
    margin-bottom: 150px;
    
   }
}
.text4 {
  @media (max-width: 1890px) {
    max-width: 492px;
   }
}
.text5 {
  @media (max-width: 1890px) {
    max-width: 492px;
   }
}
.text6 {
  @media (max-width: 1890px) {
    max-width: 492px;
   }
}
.text7 {
  @media (max-width: 1890px) {
    max-width: 492px;
   }
}
.main-intro__link1{
  @media (max-width: 1400px) {
    padding-left: 81px;
  padding-right: 66px;
   }
   @media (max-width: 1280px) {
    padding-left: 51px;
  padding-right: 36px;
  font-size: 26px;
  line-height: 46px;
   }
   @media (max-width: 485px) {
    font-size: 22px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
   }
   @media (max-width: 410px) {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
   }
}
.main-intro__link2{
   @media (max-width: 1280px) {
  font-size: 26px;
  line-height: 46px;
   }
   @media (max-width: 485px) {
    font-size: 22px;
    line-height: 30px;
    padding-left: 20px;
    padding-right: 20px;
   }
   @media (max-width: 410px) {
    font-size: 18px;
    line-height: 24px;
    padding-left: 15px;
    padding-right: 15px;
   }
}
.main-intro__item1{
  @media (max-width: 1400px) {
  padding-left: 66px;
   }
}
.main-intro__item2{
  @media (max-width: 1400px) {
  padding-right: 66px;
   }
}
.header__lang {
  @media (max-width: 1190px) {
    margin-left: auto;
  }
}
.main-stages__title{
  @media (max-width: 1040px) {
    font-size: 32px;
  line-height: 45px;
  }
  @media (max-width: 580px) {
    font-size: 24px;
  line-height: 35px;
  }
}
.main-stages__list{
  @media (max-width: 1040px) {
   display: grid;
   grid-template-columns: 1fr;
  }
}
.main-stages__item--text {
  @media (max-width: 1560px) {
    font-size: 22px;
    line-height: 29px;
  }
  @media (max-width: 1400px) {
    font-size: 18px;
    line-height: 22px;
  }
}
.main-stages__item--subtext {
  @media (max-width: 1560px) {
    font-size: 22px;
    line-height: 29px;
  }
  @media (max-width: 1400px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.main-stages__item {
  @media (max-width: 1400px) {
    padding: 15px 35px 33px 35px;
  }
}
.main-advantages__list{
  @media (max-width: 1700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 1040px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.img-quality{
  @media (max-width: 1040px) {
    margin-left: 0;
  }
}
.main-advantages__item {
  @media (max-width: 580px) {
    flex-direction: column;
    justify-content: center;
  }
}
.main-advantages__title{
  @media (max-width: 580px) {
    font-size: 24px;
    line-height: 35px;
  }
}
.contacts{
  @media (max-width: 1040px) {
   display:block;
  }
}
.contacts-messenge{
  @media (max-width: 1040px) {
    justify-content: center;
    margin-left: 0;
   }
}
.contacts-tel{
  @media (max-width: 1040px) {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 25px;
   }
   @media (max-width: 530px) {
    align-items: center;
flex-direction: column;
   }
}
.text-tel1 {
  @media (max-width: 530px) {
    margin-right: 0;
   }
  }
  .footer{
    @media (max-width: 1180px) {
     flex-direction: column;
     align-items: center;
     }
  }
  .footer__list-menu{
    @media (max-width: 1180px) {
      margin-right: 0;
      text-align: center;
      margin-top: 20px;
      }
  }
  .footer__title{
    @media (max-width: 1180px) {
      display: none;
      }
  }
  .block-order{
    @media (max-width: 1180px) {
      margin-right: 0;
      margin-bottom: 25px;
      }
  }
  .footer__text{
    @media (max-width: 1050px) {
      font-size: 22px;
      line-height: 25px;
      }
      @media (max-width: 810px) {
        max-width: 375px;
        text-align: center;
        margin: 0 auto;
        }
  }
  .footer-map{
    @media (max-width: 475px) {
      width: 360px;
      height: 213px;
      }
  }
  .slide__text{
    @media (max-width: 900px) {
      font-size: 18px;
    line-height: 24px;
      }
      @media (max-width: 600px) {
        font-size: 10px;
      line-height: 14px;
        }
  }