.splide__slide{
    max-width: 1138px;
    margin-left: 27px;
    margin-right: 27px;
    
}
.splide__img{
    position: relative;
    width: 100%;
    height: auto;
}
.slide__text{
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 50%;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 24px;
    line-height: 36px;
    transition: all 1s;
}
.slide__text:hover{
width: 100%;
}